@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family:Tahoma;
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index:100000;
    top: 0;
    left: 0;
}
.container{
    width: 80%;
    margin: auto;
}
#logo img{
    float: left;  
}
.botonera{
    float: right;
    margin-right: -140px;
}
.botonera ul{
    display: flex;
    list-style: none;
}
.botonera a{
    text-decoration: none;
    display: block;
    padding: 20px;
    font-family: tahoma;
    color: white;
}
.banner{
    position: relative;
    background: url(../img/fondo111.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.overlay{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    min-height: 100vh;
}
.cont-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
}
.cont-banner h1{
    text-align: center;
    margin-bottom: 10px;
}
main{
    width: 80%;
    margin:20px auto;
    overflow: hidden;
}
main h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;  
}

.img-responsiveyo{
    width: 50vh;
    max-width: 100%;
    display: block;
    float: right; 
    margin-top: -5vh; 
    flex-wrap: wrap;
    justify-content: space-between; 
}
main p {
    overflow: hidden;
    float: left;
    width: 700px;
    color: black;
}
p{
    font-size: 18px;
    line-height: 30px;
}
section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
article{
    width: 300px;
    margin-bottom: 10px;
}
.img-article{
    width: 100%;
}
@media only screen and (min-width:480px) and (max-width:780px) {
    .img-responsiveyo {
        margin-top: 20px;
        margin-right: 40px;
    }
}